<StackLayout class="main" verticalAlignment="top">

    <GridLayout class="anim-cover" rows="auto" columns="*">
        <Image row="0" col="0" height="180" stretch="aspectFill"
            class="card-img" [src]="item.cover"></Image>
        <Label row="0" col="0" verticalAlignment="top" horizontalAlignment="left"
            (tap)="closeTap()" fontSize="24" text="&#xf060;" class="fa-brands close">
        </Label>
    </GridLayout>

    <ScrollView class="anim-images" *ngIf="item.images" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let imageString of item.images" rows="auto"
                columns="*">
                <Image class="card-img-thumb" row="0" col="0" [src]="imageString"
                    stretch="aspectFill"></Image>
                </GridLayout>
        </StackLayout>
    </ScrollView>

    <GridLayout rows="auto,auto,auto,auto" columns="auto" class="content">

        <GridLayout *ngIf="item" class="anim-itemInfo" marginTop="15" row="1"
            width="100%" columns="*,auto,auto" rows="auto,auto,auto,auto"
            verticalAlignment="center">
            <Label [text]="categoryIcon()" row="0" col="2" rowSpan="2" class="fa-brands category-icon"></Label>
            <Label row="0" col="1" class="item-name m-r-10" textwrap="true"
                verticalAlignment="bottom" horizontalAlignment="right" [text]="item.name"></Label>

            <Label row="1" col="1" class="item-category m-r-10" textwrap="true"
                verticalAlignment="top" horizontalAlignment="right" [text]="item.categoryName"></Label>

            <StackLayout></StackLayout>
        </GridLayout>

        <StackLayout class="line anim-likes" row="2" width="100%" marginTop="10"></StackLayout>

    </GridLayout>

    <GridLayout rows="auto,*" clomuns="*,auto" class="content anim-content" marginTop="15">

        <GridLayout row="0" col="2">
            <GridLayout rows="auto" marginBottom="5" columns="auto, auto">
                    <Label col="0" text="&#xf02c;" class="fa-brands description-icon"
                        textWrap="true"></Label>
                    <Label col="1" class="description-text" text="מה ? מו ? מי ?"
                        textWrap="true"></Label>
                </GridLayout>
        
                <StackLayout row="1" col="2">
                    <ScrollView>
                        <StackLayout verticalAlignment="top" horizontalAlignment="left"
                            *ngIf="item">
                            <Textview editable="false" class="description-value"
                                textWrap="true" [text]="item.description">
                            </Textview>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
        </GridLayout>

        <GridLayout  col="1">

        </GridLayout>
        


    </GridLayout>

</StackLayout>
